:root {
  --brand-color: #2196f3;
}

body {
  font-family: "Roboto", Courier, monospace;
  font-style: normal;
}
a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.WebStudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: right;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
.button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}
.button:hover {
  color: var(--brand-color);
}

.active {
  color: var(--brand-color);
}

.date {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}
.date:hover {
  color: var(--brand-color);
}
.background {
  width: 1900px;
  height: 400px;
  left: -4px;
  top: 80px;
  background: #2f303a;
}
.firsttitle {
  width: 696px;
  height: 120px;
  left: 500px;
  top: 280px;

  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.1;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.buttontitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;

  width: 261px;
  height: 50px;
  left: 725px;
  top: 430px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  /* or 171% */

  letter-spacing: 0.03em;
  color: #757575;
}
.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.secondtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #212121;
}
.nametitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  /* identical to box height */

  
  letter-spacing: 0.03em;
  color: #212121;
}
.description {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  /* or 171% */

  letter-spacing: 0.03em;
  color: #757575;
}

.address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.email {
  font-family: "Roboto";

  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.secondphone {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.backgrounddate {
  background: #2f303a;
}

.backgroundteam {
  background: #f5f4fa;
}
.poster {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
